/*************************************************************/
/* Web sobre Magia y Cardistry - hoja de estilo de index     */
/* Autor: Pablo García Muñoz                                 */
/* Version 1.0 - 23/11/2022                                  */
/*************************************************************/

/************************ Estilo general *********************/

@font-face{
    font-family: title;
    src: url("../fonts/sofachrome/sofachrome\ rg.ttf")
}

@font-face {
    font-family: title2;
    src: url("../fonts/ethnocentric/ethnocentric\ rg.otf");
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../img/fondo5.jpg");
    background-size: cover;
    background-position: center;
}

#wrapper{
    width: 100%;
    text-align: center;
}

.texto{
    font-family: 'Courier New', Courier, monospace;
}

/************************* Navegación ************************/

#navegation{
    text-align: center;
    overflow: hidden;
}

#izq-nav{
    float: left;
    margin-left: 9%;
    font-size: 2rem;
    margin-top: 10px;
    color: #ffffff;
    margin-right: -5%;
}

#der-nav{
    float: right;
    margin-right: 9%;
    font-size: 2rem;
    margin-top: 10px;
    color: #ffffff;
}

#navegation a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-align: center;
    padding: 19px 20px;
}

#navegation a:hover {
    text-decoration: underline;
}



/********************** Hero Section *********************/

#hero{
    height: 80vh;
    text-align: center;
    background-image: url("../img/hero3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    background-attachment: fixed;
}

#title{
    text-align: center;
    padding: 15%;
    font-family: title;
    font-size: 2rem;
    color: rgb(0, 247, 255);
    text-shadow: 1px 1px 2px black;
}



/********************** Introducción **********************/

#Intro{
    text-align: center;
    color: #ffffff;
    font-family: title2;
    margin-bottom: 75px;
}

#row{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#title-intro{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f100;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

  /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

  /* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  /* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

  /* Style the front side (fallback if image is missing) */
.flip-card-front {
    color: black;
}

  /* Style the back side */
.flip-card-back {
    background-color: rgb(0, 0, 0);
    color: white;
    transform: rotateY(180deg);
}

/********************** Astrofotos **********************/

#Astrofotos{
    margin-top: 12%;
}



body {
    height: 100vh;
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 800px;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
}

.text-center {
    text-align: center;
    margin-bottom: 1em;
    color: #eee;
    font-family: title2;
}

.lightbox-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.lightbox-gallery div > img {
    max-width: 100%;
    display: block;
}

.lightbox-gallery div {
    margin: 10px;
    flex-basis: 180px;
}

@media only screen and (max-width: 480px) {
    .lightbox-gallery {
        flex-direction: column;
        align-items: center;
    }

    .lightbox > div {
        margin-bottom: 10px;
    }
}

/*Lighbox CSS*/

.lightbox {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    padding-top: 30px;
    box-sizing: border-box;
}

.lightbox img {
    display: block;
    margin: auto;
}

.lightbox .caption {
    margin: 15px auto;
    width: 50%;
    text-align: center;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 700;
    color: #eee;
}

.github-link {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

.github-link:hover,
.github-link:active,
.github-link:visited {
    color: #fff;
    text-decoration: none;
}

/********************** Medias Querys *********************/


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 900px) {
    
}